.posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 82px;
}

.new-post {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 10px;
    margin-top: 10px;
}

.add-group,
.add-body,
.add-contact {
    border: none;
    outline: none;
    padding: 10px 0;
    border-bottom: 1px solid black;
    font-size: 16px;
}

.add-body {
    resize: vertical;
    height: 20rem;
}

.submit-post {
    padding: 8px;
    border: none;
    background-color: var(--deep-blue);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #222222;
}

.footer-content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.mail {
    height: 24px;
    background-color: white;
    cursor: pointer;
    border-radius: 22px;
    padding: 5px;
    color: #282828;
    transition: background-color 0.5s, color 0.5s;
}

.mail:hover {
    color: #fff;
    background-color: #282828;
}

.footer-logo {
    width: 40px;
    height: 40px;
}

.add {
    color: #fff;
    background-color: var(--deep-blue);
    right: 1.5rem;
    bottom: 1.5rem;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
    position: fixed;
}

.add span {
    font-size: 2.2rem;
}

.add:hover {
    background-color: #0867e2;
}

.popup {
    background: linear-gradient(to bottom, #00000035, #00000065);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.home {
    background-color: #fff;
    ;
    padding: 1rem;
    border-radius: 8px;
    position: relative;
}

.close {
    position: absolute;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
}

input[type="radio"] {
    position: fixed;
    opacity: 0;
    pointer-events: none;

}

input[type="radio"]:checked + label {
    background-color: #fbfbfb;
    color: #000;
    box-shadow: 4px 4px 10px #00000025;
}

.slider-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    gap: 5px;
    border-radius: 8px;
    cursor: pointer;
    color: gray;
}

.slider {
    display: flex;
    width: 100%;
    background-color: #e8e8e8;
    justify-content: space-around;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 4px;
}